body,
html {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a,
span,
input,
button,
textarea {
  display: inline-block;
}
input,
button,
textarea {
  padding: 0;
  margin: 0;
  font-family: inherit;
  cursor: pointer;
}
img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
a {
  text-decoration: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.section-header {
  padding: 55px 60px 50px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dee1e6;
}
.header__social,
.footer__social {
  display: flex;
  align-items: center;
}
.header__social > *:not(:last-child),
.footer__social > *:not(:last-child) {
  margin-right: 30px;
}
.header__logo {
  text-align: center;
}
.header__search {
  width: 32px;
  height: 32px;
  cursor: pointer;
  margin-right: 45px;
}
.header__right {
  display: flex;
}
.section-main {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 80px;
}
.main__left {
  width: 870px;
}
.main__right {
  width: 270px;
}
.main__right > * + * {
  margin-top: 30px;
}
.section-footer {
  background-color: #dee1e6;
}
.footer__nav {
  padding-top: 60px;
  display: flex;
  padding-bottom: 90px;
  align-items: flex-start;
}
.footer__nav > * + * {
  margin-left: 130px;
}
.copyright {
  background-color: #e9ebed;
  font-size: 14px;
  color: #b6b9bc;
  line-height: 1.2;
  text-align: center;
  padding: 23px 0;
}
.social__items {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 40px;
}
.article__social {
  display: flex;
}
.article__social > * {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 40px;
}
.article__social > * + * {
  margin-left: 25px;
}
.title {
  font-size: 38px;
  font-family: "Exo 2", sans-serif;
  color: #1f1f1f;
  line-height: 1.2;
}
.article__title .title,
.inner-article .title {
  font-size: 33px;
  font-family: "Playfair Display", serif;
  color: #1f1f1f;
  line-height: 1.2;
  text-align: center;
}
.recent .title,
.widget .title {
  border-width: 1px;
  border-color: #dee1e6;
  border-style: solid;
  border-radius: 4px;
  text-align: center;
  padding: 26px 0;
  font-size: 18px;
  font-family: "Montserrat";
  color: #1f1f1f;
  font-weight: bold;
  line-height: 1.2;
}
.recent__desc .title,
.widget__desc .title {
  padding: 25px 0;
  font-size: 18px;
  font-family: "Playfair Display", serif;
  color: #1f1f1f;
  line-height: 1.2;
  text-align: center;
  border: none;
  outline: none;
}
.form .title {
  font-size: 33px;
  font-family: "Playfair Display", serif;
  color: #1f1f1f;
  line-height: 1.2;
  text-align: left;
}
.other-comment .title {
  font-size: 33px;
  font-family: "Playfair Display", serif;
  color: #1f1f1f;
  line-height: 1.2;
  text-align: left;
}
.form {
  padding-bottom: 80px;
}
.form .button {
  border-radius: 6px;
  background-color: #435671;
  font-size: 16px;
  text-align: center;
  border: none;
  outline: none;
}
.button {
  display: flex;
  align-items: center;
  background-color: #435671;
  height: 38px;
  padding: 0 40px;
  border-radius: 19px;
  line-height: 1;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.2;
  cursor: pointer;
}
.button.button--rounded {
  border-radius: 6px;
  height: 44px;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  padding: 16px 40px;
}
.pagination__button {
  font-size: 14px;
  color: #000;
  background-color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  border: none;
  outline: none;
}
.section-article {
  padding-bottom: 40px;
  padding-top: 40px;
  border-bottom: 1px solid #dee1e6;
}
.section-article:first-child {
  padding-top: 0;
}
.article__info {
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
}
.article__text {
  font-size: 16px;
  color: #1f1f1f;
  line-height: 1.75;
  text-align: left;
  font-weight: 500;
  padding: 40px 0;
}
.article__text > * + * {
  margin-top: 15px;
}
.article__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inner-article,
.inner-article.other-comment {
  padding-top: 60px;
  padding-bottom: 80px;
  width: 830px;
  margin-left: auto;
  margin-right: auto;
}
.inner-article.other-comment {
  padding-top: 0;
  padding-bottom: 120px;
}
.article__text > * + * {
  margin-top: 40px;
}
.info {
  font-size: 14px;
  color: #aeaeae;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}
.pagination {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider {
  display: flex;
}
.slider > *:not(:last-child) {
  margin-right: 20px;
}
.slid__article {
  font-size: 18px;
  display: block;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}
.slid__article.active,
.slid__article:hover {
  color: #ca4d51;
}
.recent__desc__img,
.widget__desc__img {
  display: flex;
}
.recent__desc__img img,
.widget__desc__img img {
  width: 85px;
  height: 85px;
  border-radius: 50%;
}
.recent__desc,
.widget__desc {
  padding-top: 35px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #dee1e6;
}
.recent__desc__info,
.widget__desc__info {
  font-size: 12px;
  color: #aeaeae;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}
.recent__desc:last-child,
.widget__desc:last-child {
  border-bottom: none;
}
.widget__instagram-photo {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.widget__item-img {
  margin-bottom: 30px;
}
.widget__item-img img {
  border-radius: 2px;
}
.nav__link {
  display: block;
  font-size: 16px;
  color: #8e9297;
  line-height: 1.2;
  text-align: left;
  min-width: 170px;
}
.nav__list > * + * {
  margin-top: 25px;
}
.form {
  width: 830px;
  margin-right: auto;
  margin-left: auto;
}
.form > * + * {
  margin-top: 20px;
}
.comment,
.input {
  padding: 20px;
  font-size: 16px;
  color: #545e66;
  line-height: 1.75;
  font-weight: 700;
  border: none;
  outline: none;
  background-color: #eaeef1;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0);
}
.comment:active,
.comment:hover,
.input:active,
.input:hover {
  border: 2px solid #9fb8ca;
}
.comment {
  width: 100%;
  resize: vertical;
}
.form__info {
  display: flex;
  justify-content: space-between;
}
.input:nth-child(1) {
  width: 230px;
}
.input:nth-child(2) {
  width: 275px;
}
.input:nth-child(3) {
  width: 300px;
}
.input::placeholder {
  color: rgba(84, 94, 102, 0.502);
}
.user__avatar {
  display: block;
  width: 50px;
  height: 50px;
}
.user__avatar > * {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.user__avatar img {
  height: 100%;
}
.comments__items {
  padding-top: 40px;
  padding-bottom: 35px;
}
.user__nike {
  font-size: 16px;
  color: #435671;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}
.comments__user {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.comments__user > * + * {
  margin-left: 10px;
}
.comments__text {
  font-size: 16px;
  color: #1f1f1f;
  line-height: 1.75;
}
.comments__text > * + * {
  margin-top: 10px;
}
.other-comment__comments > *:not(:last-child) {
  border-bottom: 1px solid #dee1e6;
}
/*# sourceMappingURL=maps/main.css.map */
